<div id="grille">
  <ul>
    <li>
      <article>
        <h1>Sessions</h1>
        <div>
          <h2>26.9</h2>
          <span>K</span>
        </div>
        <h3>past 7 days</h3>
        <p>https://apexcharts.com/angular-chart-demos/line-charts/basic/</p>
      </article>
    <article>
      <h1>by medium</h1>
      <li>organic</li>
      <li>(none)</li>
      <li>cpc</li>
      <li>refferal</li>
      <li>p_social</li>
    </article>
  </li>
</ul>
<ul>
  <li>
    <article>
      <h1>Sessions</h1>
      <div>
        <h2>26.9</h2>
        <span>K</span>
      </div>
      <h3>past 7 days</h3>
      <p>https://apexcharts.com/angular-chart-demos/line-charts/basic/</p>
    </article>
  <article>
    <h1>by medium</h1>
    <li>organic</li>
    <li>(none)</li>
    <li>cpc</li>
    <li>refferal</li>
    <li>p_social</li>
  </article>
</li>
</ul>
<ul>
  <li>
    <article>
      <h1>Sessions</h1>
      <div>
        <h2>26.9</h2>
        <span>K</span>
      </div>
      <h3>past 7 days</h3>
      <p>https://apexcharts.com/angular-chart-demos/line-charts/basic/</p>
    </article>
  <article>
    <h1>by medium</h1>
    <li>organic</li>
    <li>(none)</li>
    <li>cpc</li>
    <li>refferal</li>
    <li>p_social</li>
  </article>
</li>
</ul>
<ul>
  <li>
    <article>
      <h1>Sessions</h1>
      <div>
        <h2>26.9</h2>
        <span>K</span>
      </div>
      <h3>past 7 days</h3>
      <p>https://apexcharts.com/angular-chart-demos/line-charts/basic/</p>
    </article>
  <article>
    <h1>by medium</h1>
    <li>organic</li>
    <li>(none)</li>
    <li>cpc</li>
    <li>refferal</li>
    <li>p_social</li>
  </article>
</li>
</ul>
</div>