<div id="grille">
  <ul>
    <li>
      <article>
        <h1>Sessions</h1>
        <div class="mainStat">
          <h2>26.9</h2>
          <span>K</span>
        </div>
        <h3>past 7 days</h3>
        <div class="chart-container">
          <canvas id="MyChart">{{ chart }}</canvas>
        </div>
      </article>
    <article>
      <h1>by medium</h1>
      <ul>
      <li>
        <h2>organic</h2>
        <h3>17.3K</h3>
      </li>
      <li>
        <h2>(none)</h2>
        <h3>6,603</h3>
      </li>
      <li>
        <h2>cpc</h2>
        <h3>1,333</h3>
      </li>
      <li>
        <h2>refferal</h2>
        <h3>1,009</h3>
      </li>
      <li>
        <h2>p_social</h2>
        <h3>87</h3>
      </li>
    </ul>
    </article>
  </li>
</ul>
<ul>
  <li>
    <article>
      <h1>Conversions</h1>
      <div class="mainStat">
        <h2>229</h2>
      </div>
      <h3>past 7 days</h3>
      <div class="chart-container">
        <canvas id="MyChart2">{{ chart2 }}</canvas>
      </div>
    </article>
  <article>
    <h1>by medium</h1>
    <ul>
    <li>
      <h2>organic</h2>
      <h3>97</h3>
    </li>
    <li>
      <h2>cpc</h2>
      <h3>49</h3>
    </li>
    <li>
      <h2>(none)</h2>
      <h3>49</h3>
    </li>
    <li>
      <h2>refferal</h2>
      <h3>31</h3>
    </li>
    <li>
      <h2>p_social</h2>
      <h3>3</h3>
    </li>
  </ul>
  </article>
</li>
</ul>
<ul>
  <li>
    <article>
      <h1>Google Ads</h1>
      <div class="mainStat">
        <span>$</span>
        <h2>2.6</h2>
        <span>K</span>
      </div>
      <h3>budget spent</h3>
      <div class="progressBar">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div class="bar">
          <h2 class="percentage">40%</h2>
          <div>
            <span>$</span>
            <h2>5</h2>
            <h3>K</h3>
          </div>
        </div>
      </div>
      <div>
        <h2>49</h2>
        <h3>conversions</h3>
      </div>
      <div>
        <span>$</span>
        <h2>53.3</h2>
        <h3>per conv</h3>
      </div>
    </article>
    <article>
      <div class="block">
        <h2>1,333</h2>
        <h3>sessions</h3>
      </div>
      <div class="block">
        <div class="mainStat">
          <span>$</span>
          <h2>2.0</h2>
        </div>
        <h3>cpc</h3>
      </div>
    </article>
</li>
</ul>
<ul>
  <li>
    <article>
      <h1>Facebook</h1>
      <div class="mainStat">
        <span>$</span>
        <h2>2</h2>
        <span>K</span>
      </div>
      <h3>budget spent</h3>
      <div class="progressBar">
        <mat-progress-bar mode="determinate" value="52"></mat-progress-bar>
        <div class="bar">
          <h2 class="percentage">52%</h2>
          <div>
            <span>$</span>
            <h2>5</h2>
            <h3>K</h3>
          </div>
        </div>
      </div>
      <div>
        <h2>3</h2>
        <h3>conversions</h3>
      </div>
      <div class="warning">
        <span>$</span>
        <h2>678.3</h2>
        <h3>per conv</h3>
      </div>
    </article>
    <article>
      <div class="block">
        <h2>87</h2>
        <h3>sessions</h3>
      </div>
      <div class="warning">
      <div>
        <span>$</span>
        <h2>23.4</h2>
      </div>
      <h3>cpc</h3>
      </div>
    </article>
</li>
</ul>
</div>