*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: sans-serif;
}

html{
    --main-color: rgb(22,16,58);
    --secondary-color: rgb(39,41,83);
    --text: rgb(255,255,255);
    --light-gray: #BFC9DE;
    --gray-1: #42456A;
    --gray-2: #46476E;
    --warning: #C64F64;
    --progress: #02d1ff;
}

body{
    background-color: var(--main-color);
    color: var(--text)
}

h1,h2{
    font-weight: 700;
}

.chart-container{
    margin-top: 1em;
}

ul{
    display: block;
    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 4em;
    }
    h3{
        font-size: 1.5em;
        font-weight: normal;
    }
    span{
        font-size: 2.5em;
    }
    li{
        width: 100%;
    }
    article{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin: 0.7em;
        padding: 0.7em;
        border-radius: 0.5em;
        background-color: var(--secondary-color);
        min-height: 20vh;
        div{
            display:flex;
            align-items: baseline;
            gap: 10px;
        }
        ul{
            margin-bottom: 2em;
        }
        li{
            border-bottom: 1px solid var(--gray-1);
            padding: 0.7em 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2,h3{
                font-size: 1em;
                font-weight: normal;
            }
        }
        .progressBar{
            display:block;
            position: relative;
            margin: 1em 0;
        }
        .bar{
            display:flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 10px;
            h2{
                font-size:1em;
            }
            span, h3{
                font-size: 0.75em;
            }
            div{
                color:#BFC9DE;
                display:flex;
                align-items: baseline;
                gap:0;
            }
        }
    }
}

.warning{
    background-color: rgba(176,73,96,0.1);
    border: 1px solid var(--warning);
    border-radius: 0.3em;
    padding: 0 0.3em;
    position: relative;
    &::after {
        content: url('./icons/exclamation.svg');
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        position: absolute;
        bottom: -0.5em;
        right: -0.75em;
    }
}

.block{
    flex-direction: column;
    margin-bottom: 10px;
}

.mainStat{
    gap:0;
}

.mat-mdc-progress-bar{
    --mdc-linear-progress-track-height: 0.75em !important;
    --mdc-linear-progress-track-color: var(--progress);
    --mdc-linear-progress-active-indicator-color:var(--progress);
    --mdc-linear-progress-active-indicator-height: 0.75em !important;
    border-radius: 1em;
    overflow: hidden;
}
.mat-mdc-progress-bar{
    background-color: var(--gray-2);
}

.percentage{
    color: var(--progress);
}


@media (max-width: 1350px) {
    
#grille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
}

ul{
li{
    width: 100%;
    display: flex;
    flex-direction: column;
    & > article:nth-child(2) {
        min-height: 35vh;
      }
}

article{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    min-height: 55vh;

    ul{
        margin-bottom: 2em;
        li{
            flex-direction:row;
        }
    }
}
}
}
